SimpleIOCContainer/Docs/UserGuide.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="userGuide">
      <xs:complexType>
        <xs:sequence>
        <xs:element name="group" maxOccurs="unbounded">
          <xs:complexType>
          <xs:sequence>
            <xs:element name="topic" type ="xs:string"/>
            <xs:element name="userGuideTitle" type ="xs:string"/>
            <xs:element name="userGuide" type ="xs:string"/>
            <xs:element name="userGuideSeeAlso" type ="xs:string"/>
          </xs:sequence>      
          </xs:complexType>
        </xs:element>
        </xs:sequence>        
      </xs:complexType>
  </xs:element>
</xs:schema>